<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
  </system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701"/>
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb"
        type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+"/>
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="ServiceCategoriaProductoPortBinding" />
        <binding name="ServiceAccesoPortBinding" />
        <binding name="ServiceAdministradorPortBinding" />
        <binding name="ServiceCanalPortBinding" />
        <binding name="ServiceClientePortBinding" />
        <binding name="ServiceComunaPortBinding" />
        <binding name="ServiceEstablecimientoPortBinding" />
        <binding name="ServiceOfertaPortBinding" />
        <binding name="ServiceOfertaProductoPortBinding" />
        <binding name="ServicePaginaPortBinding" />
        <binding name="ServicePedidoCabeceraPortBinding" />
        <binding name="ServicePedidoDetallePortBinding" />
        <binding name="ServicePerfilPortBinding" />
        <binding name="ServiceProvinciaPortBinding" />
        <binding name="ServiceRegionPortBinding" />
        <binding name="ServiceRegistroPagoPortBinding" />
        <binding name="ServiceSeguimientoPortBinding" />
        <binding name="ServiceTipoPagoPortBinding" />
        <binding name="ServiceUsuarioPortBinding" />
        <binding name="ServiceProductoPortBinding" />
        <binding name="wsEmail2Soap" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceCategoriaProducto"
        binding="basicHttpBinding" bindingConfiguration="ServiceCategoriaProductoPortBinding"
        contract="wsCategoria.ServiceCategoriaProducto" name="ServiceCategoriaProductoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceAcceso"
        binding="basicHttpBinding" bindingConfiguration="ServiceAccesoPortBinding"
        contract="wsAcceso.ServiceAcceso" name="ServiceAccesoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceAdministrador"
        binding="basicHttpBinding" bindingConfiguration="ServiceAdministradorPortBinding"
        contract="wsAdministrador.ServiceAdministrador" name="ServiceAdministradorPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceCanal"
        binding="basicHttpBinding" bindingConfiguration="ServiceCanalPortBinding"
        contract="wsCanal.ServiceCanal" name="ServiceCanalPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceCliente"
        binding="basicHttpBinding" bindingConfiguration="ServiceClientePortBinding"
        contract="wsCliente.ServiceCliente" name="ServiceClientePort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceComuna"
        binding="basicHttpBinding" bindingConfiguration="ServiceComunaPortBinding"
        contract="wsComuna.ServiceComuna" name="ServiceComunaPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceEstablecimiento"
        binding="basicHttpBinding" bindingConfiguration="ServiceEstablecimientoPortBinding"
        contract="wsEstablecimiento.ServiceEstablecimiento" name="ServiceEstablecimientoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceOferta"
        binding="basicHttpBinding" bindingConfiguration="ServiceOfertaPortBinding"
        contract="wsOferta.ServiceOferta" name="ServiceOfertaPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceOfertaProducto"
        binding="basicHttpBinding" bindingConfiguration="ServiceOfertaProductoPortBinding"
        contract="wsOfertaProducto.ServiceOfertaProducto" name="ServiceOfertaProductoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServicePagina"
        binding="basicHttpBinding" bindingConfiguration="ServicePaginaPortBinding"
        contract="wsPagina.ServicePagina" name="ServicePaginaPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServicePedidoCabecera"
        binding="basicHttpBinding" bindingConfiguration="ServicePedidoCabeceraPortBinding"
        contract="wsPedidoCabecera.ServicePedidoCabecera" name="ServicePedidoCabeceraPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServicePedidoDetalle"
        binding="basicHttpBinding" bindingConfiguration="ServicePedidoDetallePortBinding"
        contract="wsPedidoDetalle.ServicePedidoDetalle" name="ServicePedidoDetallePort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServicePerfil"
        binding="basicHttpBinding" bindingConfiguration="ServicePerfilPortBinding"
        contract="wsPerfil.ServicePerfil" name="ServicePerfilPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceProvincia"
        binding="basicHttpBinding" bindingConfiguration="ServiceProvinciaPortBinding"
        contract="wsProvincia.ServiceProvincia" name="ServiceProvinciaPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceRegion"
        binding="basicHttpBinding" bindingConfiguration="ServiceRegionPortBinding"
        contract="wsRegion.ServiceRegion" name="ServiceRegionPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceRegistroPago"
        binding="basicHttpBinding" bindingConfiguration="ServiceRegistroPagoPortBinding"
        contract="wsRegistroPago.ServiceRegistroPago" name="ServiceRegistroPagoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceSeguimiento"
        binding="basicHttpBinding" bindingConfiguration="ServiceSeguimientoPortBinding"
        contract="wsSeguimiento.ServiceSeguimiento" name="ServiceSeguimientoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceTipoPago"
        binding="basicHttpBinding" bindingConfiguration="ServiceTipoPagoPortBinding"
        contract="wsTipoPago.ServiceTipoPago" name="ServiceTipoPagoPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceUsuario"
        binding="basicHttpBinding" bindingConfiguration="ServiceUsuarioPortBinding"
        contract="wsUsuario.ServiceUsuario" name="ServiceUsuarioPort" />
      <endpoint address="http://localhost:8084/SushiBackend9/ServiceProducto"
        binding="basicHttpBinding" bindingConfiguration="ServiceProductoPortBinding"
        contract="wsProducto.ServiceProducto" name="ServiceProductoPort" />
      <endpoint address="http://localhost:2205/wsEmail2.asmx" binding="basicHttpBinding"
        bindingConfiguration="wsEmail2Soap" contract="wsEmail2.wsEmail2Soap"
        name="wsEmail2Soap" />
    </client>
  </system.serviceModel>
</configuration>