<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación ASP.NET, visite
  https://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
  <pages>
      <controls>
        <add tagPrefix="ajaxToolkit" assembly="AjaxControlToolkit" namespace="AjaxControlToolkit" />
      </controls>
    </pages></system.web>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.5.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
        <basicHttpBinding>
            <binding name="ServiceAdministradorPortBinding" />
            <binding name="ServiceCategoriaProductoPortBinding" />
            <binding name="ServiceClientePortBinding" />
            <binding name="ServiceEstablecimientoPortBinding" />
            <binding name="ServiceOfertaPortBinding" />
            <binding name="ServiceOfertaProductoPortBinding" />
            <binding name="ServicePedidoCabeceraPortBinding" />
            <binding name="ServicePedidoDetallePortBinding" />
            <binding name="ServiceProductoPortBinding" />
            <binding name="ServiceRegistroPagoPortBinding" />
            <binding name="ServiceSeguimientoPortBinding" />
            <binding name="ServiceTipoPagoPortBinding" />
            <binding name="ServiceUsuarioPortBinding" />
        </basicHttpBinding>
    </bindings>
    <client>
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceAdministrador" binding="basicHttpBinding" bindingConfiguration="ServiceAdministradorPortBinding" contract="wsAdministrador.ServiceAdministrador" name="ServiceAdministradorPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceCategoriaProducto" binding="basicHttpBinding" bindingConfiguration="ServiceCategoriaProductoPortBinding" contract="wsCategoria.ServiceCategoriaProducto" name="ServiceCategoriaProductoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceCliente" binding="basicHttpBinding" bindingConfiguration="ServiceClientePortBinding" contract="wsCliente.ServiceCliente" name="ServiceClientePort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceEstablecimiento" binding="basicHttpBinding" bindingConfiguration="ServiceEstablecimientoPortBinding" contract="wsEstablecimiento.ServiceEstablecimiento" name="ServiceEstablecimientoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceOferta" binding="basicHttpBinding" bindingConfiguration="ServiceOfertaPortBinding" contract="wsOferta.ServiceOferta" name="ServiceOfertaPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceOfertaProducto" binding="basicHttpBinding" bindingConfiguration="ServiceOfertaProductoPortBinding" contract="wsOfertaProducto.ServiceOfertaProducto" name="ServiceOfertaProductoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServicePedidoCabecera" binding="basicHttpBinding" bindingConfiguration="ServicePedidoCabeceraPortBinding" contract="wsPedidoCabecera.ServicePedidoCabecera" name="ServicePedidoCabeceraPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServicePedidoDetalle" binding="basicHttpBinding" bindingConfiguration="ServicePedidoDetallePortBinding" contract="wsPedidoDetalle.ServicePedidoDetalle" name="ServicePedidoDetallePort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceProducto" binding="basicHttpBinding" bindingConfiguration="ServiceProductoPortBinding" contract="wsProducto.ServiceProducto" name="ServiceProductoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceRegistroPago" binding="basicHttpBinding" bindingConfiguration="ServiceRegistroPagoPortBinding" contract="wsRegistroPago.ServiceRegistroPago" name="ServiceRegistroPagoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceSeguimiento" binding="basicHttpBinding" bindingConfiguration="ServiceSeguimientoPortBinding" contract="wsSeguimiento.ServiceSeguimiento" name="ServiceSeguimientoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceTipoPago" binding="basicHttpBinding" bindingConfiguration="ServiceTipoPagoPortBinding" contract="wsTipoPago.ServiceTipoPago" name="ServiceTipoPagoPort" />
        <endpoint address="http://localhost:8084/SushiBackend11/ServiceUsuario" binding="basicHttpBinding" bindingConfiguration="ServiceUsuarioPortBinding" contract="wsUsuario.ServiceUsuario" name="ServiceUsuarioPort" />
    </client>
  </system.serviceModel>
</configuration>